# Frontend
frontend/node_modules/
frontend/dist/
frontend/frontend/node_modules/
frontend/frontend/dist/
frontend/frontend/frontend/node_modules/
frontend/frontend/frontend/dist/
node_modules/
dist/

# Backend
backend/target/
target/

# Environment / IDE
.env
.env.*
.idea/
.vscode/
*.log
.DS_Store
Thumbs.db
*.env.local
*.env.development.local
*.env.production.local


backend/build_output*.txt

